h3
{
background-color: white;

text-align: center;
font-size: 25px;
padding: 5px;
color: burlywood;
font-family: 'Sofia Sans', sans-serif;
box-shadow: 5px 5px 5px grey;
}
p{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;

}
.footer
{
  position: fixed;
  background-color: rgb(192, 146, 86);  
  bottom: 0;
  line-height: 3;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Sofia Sans', sans-serif;
}
body
{
  background-color: burlywood;
}
canvas
{
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}